{% extends 'page.html.twig' %}

{% block body %}
  <div class="container fade-in">
    <h1>
      Je suis une page d'accueil temporaire !
    </h1>
    <h3>
      Vous devez sans doute vous connecter !!!
    </h3>
  </div>
{% endblock %}
