{% extends 'page.html.twig' %}

{% block title %}
  WIP
{% endblock %}

{% block container %}
  <div class="container-fluid">
    <h1>
      Je suis une page d'accueil temporaire !
    </h1>
    <h3>
      Vous devez sans doute vous connecter !!!
    </h3>
  </div>
{% endblock %}
