<div class="dropdown locale-switcher dropleft">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-globe" aria-hidden="true"></i>
		<span class="caret"></span>
		<span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		{% for locale in locales() %}
			<a {% if app.request.locale == locale.code %} aria-checked="true" class="dropdown-item active" {% else %} aria-checked="false" class="dropdown-item" {% endif %} href="{{ path(app.request.get('_route', 'home_page'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
				{{ locale.name|capitalize }}
				<small>{{ locale.code[0:2] }}</small>
			</a>
		{% endfor %}
	</div>
</div>
