#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#sidebar-wrapper a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.sub-menu a {
  padding-left: 30px;
  font-size: 0.9rem;
  background-color: rgba(49, 49, 49, 0.63) !important;
}

#sidebar-wrapper .list-group a:hover {
  border-left: 3px solid #cadbdd;
}

#menu-toggle {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #343a40 !important;
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
  color: #fff;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  #menu-toggle {
    display: none;
  }
}
