:root {
  --success: brown !important;
}

div.body {
  margin-bottom: 2rem;
}

div.container {
  padding-top: 20px; /* Whatever the height of your navbar is; the
                             default is 50px */
}

div.card-header {
  position: relative;
}

div.category_doc {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.75rem 1.25rem;
  background-color: rgba(162, 165, 175, 0.425);
  border-radius: 0 0.25rem 0 0.25rem;
}

div.actions_roadmap {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.75rem 1.25rem;
  border-radius: 0 0.25rem 0 0.25rem;
}

div.timeline {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  margin: 0;
  border: none;
  border-right: 3px dotted var(--primary);
  z-index: -100;
  margin-bottom: 1.5rem !important;
}

div.tache {
  margin-bottom: 1.5rem !important;
}

.roadmap-title {
  max-width: 80%;
}

/** MANGA  & Serie grid **/

.parent {
  display: flex;
  flex-direction: column;
}

.titre-manga {
  background-color: var(--primary);
  color: white;
  padding: 10px;
  z-index: 10;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  position: relative;
}

.titre-manga.new {
  background-color: rgb(136, 54, 54);
}

.langue-manga {
  width: 10%;
  position: absolute;
  padding: 5px;
  right: 0px;
  top: 0px;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.corps-manga,
.corps-serie {
  position: relative;
  flex: 1;
  width: 100%;
}

.corps-manga .image-manga,
.corps-serie .image-serie {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.caption-manga,
.caption-serie {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(44, 62, 80, 0.85);
  color: white;
  padding: 10px;
}

.caption-manga.new {
  background-color: rgba(136, 54, 54, 0.85);
}

.link-chapter {
  width: 100%;
}

.link-chapter:hover,
.link-serie:hover {
  text-decoration: none;
}

.link-chapter:hover img,
.link-serie:hover img {
  opacity: 0.9;
}

.avis-petit {
  font-size: 12px;
}

.fa-star {
  color: #ebcc34;
}

.serie-site {
  position: absolute;
  color: white;
  top: 4px;
  right: 19px;
  z-index: 20;
  font-size: 1.6em;
}
.serie-site:hover{
  color: var(--green);
}

/** SERIE **/
h1.titre-serie {
  margin: 0;
}

@media screen and (max-width: 1000px) {
  h1.titre-serie {
    font-size: 2.4rem !important;
  }
}

.block-avis {
  padding-top: 0px !important;
}

.avis-bouton {
  margin-top: 10px;
}

.h3-avis {
  margin-top: 3rem;
}

.utilisateur-avis {
  font-weight: bold;
  font-size: 1.1rem;
}

.commentaire-avis {
  padding-top: 5px;
}

hr.delimiter-avis {
  border-width: 1.3px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.all-avis{
  text-align: center;
  font-weight: bold;
}

.titre-serie-avis{
  text-align: center;
}


