{% extends 'base.html.twig' %}

{% block title %}
  WIP
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <h1>
      Je suis une page d'erreur !
    </h1>
    <h3 style="color:red">
      {{ message }}
    </h3>
    <p>
      Cible : <span style="color:red">{{ target }}</span>
    </p>
  </div>
{% endblock %}
