{% extends 'page.html.twig' %}

{% block body %}
  <div class="container fade-in js-filter">
    <div>
      {% include 'manga/_filter.html.twig' with {form: form} only %}
    </div>

    <div id="loader">Loading...</div>

    <div class="row js-filter-content">
      {% include 'manga/_search.html.twig' with {result_search: result_search} only %}
    </div>

  </div>
{% endblock %}


{% block javascripts %}
  {{ encore_entry_script_tags('manga') }}
{% endblock %}
